.font-24 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.font-20 {
  font-size: 1.25rem;
  line-height: 1.5;
}

.font-16 {
  font-size: 1rem;
  line-height: 1.5;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
